nav {
    display: flex;
    justify-content: space-between;
    background-color: grey;
}
.nav-links-list {
    display: flex;
    justify-content: space-around;
    width: 20vw;
}
.nav-links-list li {
    list-style: none;
    padding: 5px;
    background-color: lightblue;
    border-radius: 0.4em;
}
.nav-link {
    color: darkred;
    text-decoration: none;
}