@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Pacifico&display=swap');
nav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(188, 188, 197, 0.521);
}
.nav-links-list {
    display: flex;
    justify-content: space-around;
    width: 20vw;
}
.nav-links-list li {
    list-style: none;
    padding: 5px;
    background-color: rgba(169, 169, 172, 0.75);
    border-radius: 0.4em;
    transition: 0.5s;
}

.nav-links-list li:hover  {
    transition: 0.5s;
    background-color: rgb(199, 199, 199);
}

/* 003049   d62828   f77f00   fcbf49   eae2b7 */
.nav-link {
    color: black;
    font-weight: 500;
    text-decoration: none;
}
nav h3 {
    padding: 0;
    margin: 0;
    padding-left: 20px;
    padding-top: 5px;
    font-size:30px;
    font-family: 'Pacifico', cursive;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.logout-btn {
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    font-weight: 600;
}