.Home {
    margin: 0;
    padding: 0;
    /* background-color: #eae2b7; */
}

.home-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.input-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.input {
    margin-left: 15px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    /* margin-right: 2vw; */
    max-width: 1080px;
    /* background-color: #f77f00; */
    padding-left: 20px;
}



@media only screen and (min-width: 550px) and (max-width: 1080px) {
    .card-container {
        width: 550px;
    }
}

@media only screen and (min-width: 285px) and (max-width: 550px) {
    .card-container {
        width: 285px;
    }
}

.card-details {
    width: 225px;
    height: 300px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    background-color: rgba(156, 156, 168,0.75);
}

.card-div {
    
}

.loader {
    position: absolute;
    border: 2vw solid #f3f3f3;
    border-radius: 50%;
    border-top: 2vw solid black;
    width: 8vw;
    max-width: 50px;
    height: 8vw;
    max-height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

.null-collection {
    text-align: center;
}

.input-forCollection-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-item-list {
    margin-right: 10px;
    margin-top: 5px;
    font-size: large;
    font-weight: 600;
    border: none;
    border-radius: 0.25em;
    background-color: white;
    color: black;
    transition: 0.5s;
}

#searchBar {
    border: none;
    outline: none;
    border-radius: 0.2em;
    padding-left: 5px;
}

#searchBtn {
    font-size: large;
    font-weight: 600;
    padding: 5px;
    color: white;
    border-radius: 0.25em;
    background-color: rgba(226, 226, 226, 0.603);
    border: none;
    transition: 0.5s;
}

#searchBtn:hover {
    transition: 0.5s;
    color: rgba(223, 222, 222, 0.925);
    background-color: rgba(187, 187, 187, 0.603);
}

.add-item-list:hover {
    transition: 0.5s;
    background-color: rgba(59, 59, 59, 0.76);
    color: rgba(255, 255, 255, 0.897);
}

.input-forCollection {
    background-color: rgba(226, 226, 226, 0.603);
    height: 100px;
    width: 250px;
    display: flex;
    /* z-index: 1; */
    align-items: center;
    justify-content: center;
}

.card-btn {
    width: 225px;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.card-body {
    margin: 0;
    padding: 0;
    height: 195px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-btn a {
    /* padding: 4px; */
    background-color: rgb(222, 222, 222);
    font-size: larger;
    padding: 0 0px;
    padding-bottom: 2px;
    border-radius: 0.2em;
    margin-right: 15px;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.collection-show-list {
    /* background-color: white; */
    min-width: 100px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup-display {
    
}

.addCollectionBtn {
    margin-top: 50px;
    padding: 5px;
    font-size: medium;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    background-color: rgba(87, 87, 87, 0.849);
    color: rgba(216, 216, 216, 0.945);
    border: 0;
    border-radius: 0.5em;
    transition: 0.5s;

}
.addCollectionBtn:hover {
    transition: 0.5s;
    background-color: rgba(228, 228, 228, 0.849);
    color: black;
}

.add-listname {
    border: none;
    outline: none;
    padding-left: 5px;
    height: 25px;
    border-radius: 0.25em;
    margin-right: 15px;
}

.addNewCollectionBtn {
    border: none;
    padding: 5px;
    font-weight: 600;
    border-radius: 0.25em;
    background-color: rgba(87, 87, 87, 0.884);
    color: rgb(230, 230, 230);
}

.addNewCollectionBtn:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.collection-btn {
    text-align: center;
    padding: 5px;
    border-radius: 0.5em;
    background-color: rgba(204, 204, 204, 0.548);
    cursor: pointer;
    font-size: medium;
    font-weight: 600;
}

.card-title {
    text-align: center;
}

.card-text {
    font-size: 15px;
    font-weight: 600;
    padding: 5px;
    background-color: rgba(222, 222, 222, 0.452);
    border-radius: 0.75em;
}

.days-text {
    padding: 0;
    margin: 0;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}